@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

:root{
    --color-primary:#7c3aed;
    --color-gray-text:#0c0c0c6e;
    --color-secondary:#d0d5dd;
    --color-gray-rgb:17 24 39;
  --color-secondary-rgb: 75 85 99;
  --color-primary-rgb: 124 58 237;
  --color-public-primary:#0f184b;
  --color-public-navtext:#ffffff;
    --color-public-navtext-rgb:255 255 255;
    --color-public-dark:#000000;
    --color-public-dark-rgb:0 0 0;
  --color-public-bg:#ffffff;
  --color-public-newsText:#0f184b;
  --color-public-newsText-rgb: 15 24 75;
    --color-public-newsText-hover:#ff0000;

}

