@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

:root {
  --color-primary: #4f46e5;
  /* Indigo */
  --color-gray-text: #64748b;
  /* Slate-500 */
  --color-secondary: #e2e8f0;
  /* Slate-200 */
  --color-gray-rgb: 15 23 42;
  --color-secondary-rgb: 100 116 139;
  --color-primary-rgb: 79 70 229;

  --color-public-primary: #0f172a;
  /* Slate-900 */
  --color-public-navtext: #ffffff;
  --color-public-navtext-rgb: 255 255 255;
  --color-public-dark: #020617;
  /* Slate-950 */
  --color-public-dark-rgb: 2 6 23;
  --color-public-bg: #f8fafc;
  /* Slate-50 */
  --color-public-newsText: #1e293b;
  /* Slate-800 */
  --color-public-newsText-rgb: 30 41 59;
  --color-public-newsText-hover: #4f46e5;
  /* Indigo-600 */
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Geist Variable", sans-serif;
  background-color: var(--color-public-bg);
  color: var(--color-public-newsText);
}